/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.third {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.block {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.radio-container label{
    padding-right: 20px;
}

.radio-container .desc{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 10px;
    padding-top: 5px;
}

.label-input label {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 10px;
    padding-top: 5px;
}

.label-input span {
    padding-top: 5px;
    display: inline-block;
    padding-left: 3px;
}


.label-input input {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.label-input input[type="checkbox"] {
    margin-top: 5px;
    width: 10px;
}

.label-input input[type="color"] {
    display: inline-block;
    vertical-align: top;
    border: 0px;
    width: 100px;
    height: 30px;
    color: #ffffff;
    border-radius: 10px;
    padding: 0;
}
.label-input input[type="color"]:focus {
    border: 0px;
    box-shadow: 0 0 0;
    outline: none;
}
.label-input input[type="number"] {
    display: inline-block;
    vertical-align: top;
    width: 60px;
}

.weather textarea{
    width: 50%;
    height: 180px;
}

.admin-img-container {
    display: inline-block;
    width: 100px;
}

.admin-img-container img {
    height: 25px;
    width: auto;
}

.admin-img-container-input {
    margin-left: 20%;
}

.admin-img-container-input span {
    position: relative;
    display: inline-block;
    top: -3px;
    margin-right: 10px;
    padding-left: 10px;
}

.wpscr_slect-slider-type {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* .wpscr_slider-wrapper {
    display: none;
} */

.wpscr_wpscreens-options td{
    padding: 15px 10px 10px 10px;
    text-align: left;
    vertical-align: top;
}

.wpscr_wpscreens-options input[type="text"] {
    width: 400px;
    margin-top: -5px;
}
.wpscr_wpscreens-options .valid {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-image: url('../img/valid.svg');
    background-position: center;
    background-size: cover;
}
.wpscr_wpscreens-options .not-valid {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/not_valid.svg');
    background-position: center;
    background-size: cover;
}

.licence-type {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.licence-meaasge {
    padding-top: 20px;
}

.licence-meaasge {
    padding-top: 20px;
}
.wpSplitPartition .acf-input .acf-fields.-border,
.wpSplitPartition .acf-input  .acf-field[data-width] + .acf-field[data-width]{
    border: none
}
.wpSplitPartition .acf-input .acf-fields .acf-field .acf-label,
.wpSplitPartition .acf-input .acf-fields .acf-field .acf-input{
    width: 40%;
    float: left;
}
 /* wpscreens 16-11-2023 */
 .woocommerce-notices-wrapper ul.woocommerce-error {
    background-color: red!important;
}